
<h1 class="display-6">Guest Speaker</h1>
<hr>
<div class="row g-0" >
  <div class="col-lg-4" >
    <img class = "rounded" src="/assets/Rahul G. Krishnan.png"  style="max-height: 12cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 8cm; ">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Rahul G. Krishnan</h5>
      <h6 class="card-subtitle mb-2 text-muted">Bias in healthcare data
      </h6>
    
      <p class="card-text">Rahul G. Krishnan is an Assistant Professor of Computer Science and Medicine (Laboratory Medicine and Pathobiology). He is a member of the Vector Institute where he holds a CIFAR AI Chair. His research has developed new algorithms for probabilistic inference, and applied machine learning to problems in healthcare such as modeling disease progression and risk stratification. He received his MS from New York University and his PhD in computer science from MIT in 2020. His research has been published in top machine learning venues such as NeurIPS, ICML, AISTATS and AAAI. 

    </div>   
  </div>
</div>
<hr>


<h1 class="display-6">Judges</h1>

<hr>

<div class="row g-0" >
  <div class="col-lg-4" >
    <img class = "rounded" src="/assets/Michael Guerzhoy.png"  style="max-height: 12cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 8cm; ">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Michael Guerzhoy</h5>

      <p class="card-text">Michael Guerzhoy is an Assistant Professor, Teaching Stream in the Division of Engineering Science and in the Dept. of Mechanical and Industrial Engineering at the University of Toronto, and an Affiliate Scientist at the Li Ka Shing Knowledge Institute at St. Michael's Hospital in Toronto. Previously, Michael taught data science at Princeton University, worked on AI for healthcare at St. Michael's Hospital, worked on 3D pose recognition at Inria Grenoble, France, and worked on computer vision algorithms for printers and scanners at Seiko Epson Corporation.

        Michael co-designed and taught the first iteration of several courses: SML310 Research Projects in Data Science and SML480 Pedagogy of Data Science at Princeton University; C4M Computing for Medicine at the University of Toronto; and CSC180 Introduction to Computer Programming in Python at the University of Toronto. Michael is serving as the co-chair of the Symposium on Educational Advances in Artificial Intelligence in 2021-2023.
        
        Michael's research interests are in machine learning, computer vision, the applications of data science in healthcare, applied statistics, and the pedagogy of computer science, data science, and artificial intelligence.
        
        Michael won the best paper award at the Canadian Conference on Artificial Intelligence in 2014, and won the University of Toronto Computer Science Student Union Teaching Award in 2016. 
        
    </div>   
  </div>
</div>

<hr>
<div class="row g-0" >
  <div class="col-lg-4" >
    <img class = "rounded" src="/assets/Vikash Ruhil.png"  style="max-height: 12cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 8cm; ">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Vikash Ruhil</h5>

      <p class="card-text">Mr. Vikash Ruhil earned a Bachelor of Technology in Computer Science from MDU university and M.S. in Data Mining and Predictive Analytics from St. John’s University. Mr. Ruhil specialized in data science, econometrics, credit risk, and creditworthiness using AI models, building complex statistical and mathematical models in pricing, residual value analysis, and predictive analytics models on finance and healthcare during his graduate studies. He is a senior data scientist with 10 years of experience in the technology industry and major fields in financial technology, pricing, product marketing finance and credit risk domain.
 
        He worked as Head of Data Science for Deserve. He built data science and machine learning algorithms to measure creditworthiness using alternative data. He built a credit underwriting engine and domino credit scoring system which uses various attributes such as credit files, credit scores, income and cash flow underwriting. At VMware, He worked as a senior data scientist developing data science and machine learning models for cloud management products.
        
    </div>   
  </div>
</div>
<hr>
<div class="row g-0" >
  <div class="col-lg-4" >
    <img class = "rounded" src="/assets/Malcolm Thorburn.png"  style="max-height: 12cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 8cm; ">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Malcolm Thorburn</h5>

      <p class="card-text">I am Professor of Law; I hold the Chair in the Legal, Ethical and Cultural Implications of Technological Innovation; and I am the Associate Dean, Graduate Programs at the Faculty of Law, University of Toronto. 
        I studied philosophy at U of T (BAH) and at the University of Pennsylvania in Philadelphia (MA), and I studied law at U of T (JD) and at Columbia Law School in New York (LLM, SJD). I have worked at universities around the world, including Queen’s University, Kingston, Canada; Sciences Po, Paris; the Australian National University; Ludwig Maximilians University in Munich, Germany; and the University of Oxford, UK.
        I write about criminal law and policing from the perspective of constitutional law and political theory. I have published articles in journals around the world and I have edited two books: The Philosophical Foundations of Constitutional Law (with David Dyzenhaus) and The Dignity of Law (with Dwight Newman).
        I have never judged a hackathon before, but I am looking forward to it! 
        
    </div>   
  </div>
</div>
<hr>
<div class="row g-0" >
  <div class="col-lg-4" >
    <img class = "rounded" src="/assets/Marc Law.png"  style="max-height: 12cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 8cm; ">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Marc Law</h5>

      <p class="card-text">His main focus is to propose scalable machine learning methods that can be applied to computer vision tasks. 
    </div>   
  </div>
</div>
<hr>
<h1 class="display-6">Meet the team!</h1>
<hr>
<div class="row g-0" >
  <div class="col-sm-4" >
    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm;">
      <img src="/assets/jasmine.jpeg"  style="margin-left: 0cm; padding-left: 0; height: 9cm; margin-top: -50px; margin-left: -90px "></div>
    
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Jasmine Zhang</h5>
      <h6 class="card-subtitle mb-2 text-muted">Co-chair</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engineering Science 2T3 + PEY</h6>
      <p class="card-text">I hope to foster a community of hackers passionate about ethical AI!</p>

    </div>   
  </div>
</div>

<hr>



<div class="row g-0" >
  <div class="col-sm-4" >
    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm;"><img src="/assets/kamal.png"  style=" margin-left: 0cm; padding-left: 0; height: 9cm; "></div>
    
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Kamal Al-Alwan</h5>
      <h6 class="card-subtitle mb-2 text-muted">Co-chair</h6>
      <h6 class="card-subtitle mb-2 text-muted">Industrial Engineering 2T5 + PEY</h6>
      <p class="card-text">With a passion for engineering and philosophy, I found ethical AI to be the field that intersected the two subjects best. Furthermore, when I found out how little was being done for issues that very well may impact each and every person in the world,  I decided that our generation should be taking the initiative and forging a path for future technology to be compliant with the values that we hold dearest to our hearts.</p>

    </div>   
  </div>
</div>

<hr>

<div class="row g-0" >
  <div class="col-sm-4" >

    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm;">
      <img src="/assets/india.jpeg"  style="margin-left: 0cm; padding-left: 0; height: 6cm; margin-bottom: -30px; "></div>
    
  
    
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">India Tory</h5>
      <h6 class="card-subtitle mb-2 text-muted">Finance lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engineering Science 2T4 + PEY</h6>
      <p class="card-text">I was inspired to join the hackathon leadership team after studying artificial intelligence in my ethics course. I hope that this event will inspire students to further pursue the topic of ethics in AI, like how I was inspired by my course.</p>

    </div>   
  </div>
</div>

<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    
    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm; "><img src="/assets/ibrahim.JPG"  style=" margin-left: 0cm; padding-left: 0; height: 9cm; margin-top: -50px; margin-right: -50px; margin-left: -10px;"></div>
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Ibrahim Sweidan</h5>
      <h6 class="card-subtitle mb-2 text-muted">Web developer</h6>
      <h6 class="card-subtitle mb-2 text-muted">Electrical Engineering 2T5 + PEY</h6>
      <p class="card-text">I decided to work on this hackathon to improve my web development skills and learn more about the increasingly important field of AI Ethics. I hope that this hackathon will help to spread an appreciation of these principles.</p>

    </div>   
  </div>
</div>

<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm; "><img src="/assets/nicole.JPG"  style=" margin-left: 0cm; padding-left: 0; height: 12cm; margin-top: -50px; margin-left: -65px;"></div>
    
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Nicole Streltsov</h5>
      <h6 class="card-subtitle mb-2 text-muted">Operations Lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engineering Science 2T3 + PEY</h6>
      <p class="card-text">When working on MI-related projects, I found the topic of ethical AI intriguing to me which drew me to this hackathon. As one of the operations leads, I hope to bring the best and most memorable experience to students!</p>

    </div>   
  </div>
</div>


<hr>


<div class="row g-0" >
  <div class="col-sm-4" >
    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm; "><img src="/assets/charlotte.png"  style=" margin-left: 0cm; padding-left: 0; height: 15cm; margin-top: -180px;  margin-left: -120px;"></div>
    
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Charlotte Vedrines</h5>
      <h6 class="card-subtitle mb-2 text-muted">Operations Lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Industrial Engineering 2T5 + PEY</h6>
      <p class="card-text">I'm the most excited about making the hackathon fun for all hackers!</p>

    </div>   
  </div>
</div>


<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    <div style=" width: 6cm; border-radius: 50%; overflow: hidden; height: 6cm; "><img src="/assets/anya.jpg"  style=" margin-left: 0cm; padding-left: 0; height: 9cm; margin-top: -50px; margin-right: -50px; margin-left: -10px;"></div>
    
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Anya Pedersen</h5>
      <h6 class="card-subtitle mb-2 text-muted">Marketing Lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engsci 2T5</h6>
      <p class="card-text">I joined this hackathon crew to help facilitate the thinking on what makes ethical AI, and to promote the ideas of students on this matter. I am most looking forward to meeting the participants on game day, and throughout our events leading up to it!</p>

    </div>   
  </div>
</div>

<hr>
