<h1 class="display-6">Leadership team</h1>

<hr>



<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/jasmine.jpeg"  style="max-height: 7cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 6cm;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Jasmine Zhang</h5>
      <h6 class="card-subtitle mb-2 text-muted">Co-chair</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engineering Science 2T3 + PEY</h6>
      <p class="card-text">I hope to foster a community of hackers passionate about ethical AI!</p>

    </div>   
  </div>
</div>

<hr>



<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/kamal.png"  style="max-height: 9cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Kamal Al-Alwan</h5>
      <h6 class="card-subtitle mb-2 text-muted">Co-chair</h6>
      <h6 class="card-subtitle mb-2 text-muted">Industrial Engineering 2T5 + PEY</h6>
      <p class="card-text">With a passion for engineering and philosophy, I found ethical AI to be the field that intersected the two subjects best. Furthermore, when I found out how little was being done for issues that very well may impact each and every person in the world,  I decided that our generation should be taking the initiative and forging a path for future technology to be compliant with the values that we hold dearest to our hearts.</p>

    </div>   
  </div>
</div>

<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/india.jpeg"  style="height: 6cm; margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 6cm;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">India Tory</h5>
      <h6 class="card-subtitle mb-2 text-muted">Finance lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engineering Science 2T4 + PEY</h6>
      <p class="card-text">I was inspired to join the hackathon leadership team after studying artificial intelligence in my ethics course. I hope that this event will inspire students to further pursue the topic of ethics in AI, like how I was inspired by my course.</p>

    </div>   
  </div>
</div>

<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/ibrahim.JPG"  style=" margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 6cm;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Ibrahim Sweidan</h5>
      <h6 class="card-subtitle mb-2 text-muted">Web developer</h6>
      <h6 class="card-subtitle mb-2 text-muted">Electrical Engineering 2T5 + PEY</h6>
      <p class="card-text">I decided to work on this hackathon to improve my web development skills and learn more about the increasingly important field of AI Ethics. I hope that this hackathon will help to spread an appreciation of these principles.</p>

    </div>   
  </div>
</div>

<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/nicole.JPG"  style=" margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 6cm;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Nicole Streltsov</h5>
      <h6 class="card-subtitle mb-2 text-muted">Operations Lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">EngSci 2T3 + PEY</h6>
      <p class="card-text">I’m so excited to work behind the scenes and bring the best events to the hackathon!</p>

    </div>   
  </div>
</div>


<hr>


<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/charlotte.png"  style=" margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 6cm;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Charlotte Vedrines</h5>
      <h6 class="card-subtitle mb-2 text-muted">Operations Lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Industrial Engineering 2T5 + PEY</h6>
      <p class="card-text">I'm the most excited about making the hackathon fun for all hackers!</p>

    </div>   
  </div>
</div>


<hr>

<div class="row g-0" >
  <div class="col-sm-4" >
    <img class = "rounded" src="/assets/anya.jpg"  style=" margin-bottom: 1cm; margin-left: 0cm; padding-left: 0; width: 6cm;">
  </div>
  <div class="col-lg-8 card" style="margin-bottom: 1cm;">
    <div class="card-body">
      <h5 class="card-title">Anya Pedersen</h5>
      <h6 class="card-subtitle mb-2 text-muted">Marketing Lead</h6>
      <h6 class="card-subtitle mb-2 text-muted">Engsci 2T5</h6>
      <p class="card-text">I joined this hackathon crew to help facilitate the thinking on what makes ethical AI, and to promote the ideas of students on this matter. I am most looking forward to meeting the participants on game day, and throughout our events leading up to it!</p>

    </div>   
  </div>
</div>

<hr>
