
<h1>Sponsor Page</h1>

<h3>AIHacks4Good is made possible by our sponsors.</h3>

<hr/>

<p>Info about how sponsorship works (what we're looking for - money, judges, mentors; tiers) and the benefits of sponsoring us. This is the space to really sell AIHacks4Good.</p>

<hr/>

<h3>About Us</h3>

<p>We're a student group, blah, blah, blah...</p>

<p>Include profiles of leadership team</p>

<hr/>

<p>AIHacks4Good is hosted by the <a href="https://ethical-principles-in-ai.github.io/">Ethical Principles in AI</a> (EPAI) student group at University of Toronto.</p>

<hr/>

<h3>Questions? We'll be happy to provide answers over <a href="mailto:aihacks4good@gmail.com">email.</a></h3>