<h1 class="display-6 text-center">Our Sponsors</h1>
<hr>
<div class="row my-5 ">

  <div class="col text-center">
    <img class = "rounded border" src="/assets/IBM_logo.svg"  style="width: 6cm; margin: 1cm;">
    <img class = "rounded border" src="/assets/MLH_logo.svg"  style="width: 6cm; margin: 1cm;">
  </div>


</div>
<div class="row">
  <div class="col text-center">
    <button type ="button" class="btn btn-light border" aria-current="page" routerLink="/contact-component" routerLinkActive="active" style="background-color: rgb(24, 54, 84); color: white;"><h4 >Interested in Sponsoring?</h4></button>
  </div>
</div>