
<h1 class="text-center display-6" style="color: rgb(24, 54, 84);">What is a hackathon?</h1>
<p class="lead">A hackathon is an event in which programmers come together to collaborate on a project for a short period of time. </p>

<hr>
<h1 class="text-center display-6" style="color: rgb(24, 54, 84);">What Makes Our Hackathon Unique? </h1>
<p class="lead">Our club, EPAI, consists of undergraduate students passionate about fostering critical discussions around the consequences of AI. Our hackathon will be unique due to its focus on the ethical aspects of AI, a pertinent topic that other hackathons don't typically cover. </p>

<hr>
<h1 class="text-center display-6" style="color: rgb(24, 54, 84);">Participation</h1>
<p class="lead">We expect to have roughly 100 hackers participate in this event. Since the event will be virtual, we hope to attract students from across the globe to create a diverse and inclusive event.</p>

<hr>
<h1 class="text-center display-6" style="color: rgb(24, 54, 84);">Sponsorship Information</h1>


<ul class="lead">
  <li>Your sponsorship will go towards prizes, swag, advertising, logistics, and food reimbursement.</li>
  <li>We currently have three sponsorship packages available but are open to negotiations to perfectly meet your needs. </li>
  <li>Most importantly, sponsorship provides you with access to brilliant hackers who come from a variety of backgrounds with impressive skill sets.</li>
  <li> AIHacks4Good is a unique opportunity to get in touch with the next generation of engineers, help provide an invaluable learning experience, and create long-term connections with the University of Toronto.</li>
</ul>


<hr>
<h1 class="text-center display-6" style="color: rgb(24, 54, 84);">Further Information</h1>
<p class="lead">For further inquiries, contact us at aihacks4good@gmail.com. To directly reach out to our Finance Director, please email india.tory@mail.utoronto.ca. For the MLH code of conduct please press <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">here</a>.</p>


