<!-- navigation bar -->

<nav class="navbar navbar-expand-sm bg-light border-bottom border-2" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AIHacks4good  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-4 mb-4 mb-lg-0">
        <li class="nav-item p-1">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link active" aria-current="page" routerLink="/pre-registration-component" routerLinkActive="active">Pre-Registration</a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link active" aria-current="page" routerLink="/sponser-component" routerLinkActive="active">Sponsor Page</a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link active" aria-current="page" routerLink="/faq-component" routerLinkActive="active">FAQ</a>
        </li>
        <li class="nav-item p-1">
          <a class="nav-link active" aria-current="page" routerLink="/contact-component" routerLinkActive="active">Contact</a>
        </li>

        
 
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  <div class="row p-1">
  </div>
</div>
<!-- main content container -->
<div class="jumbotron bg-light" >
  <div class="container">
      <div class="row">
              <router-outlet></router-outlet>

      </div>
  </div>
</div>

<!-- footer -->
<div class="container">
  <footer class="py-3 my-4">
      <p class="text-center text-muted">&copy; 2022 AIHacks4Good</p>
  </footer>
</div>


