<!-- navigation bar -->

<nav class="navbar navbar-expand-sm border-bottom border-2" style="background-color: rgb(24, 54, 84); ">
  <div class="container px-5">
    
      <a class="navbar-brand ps-4" href="#" style="color: white;">AIHacks4good  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-4 mb-4 mb-lg-0">
          <li class="nav-item p-1">
            <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link active" aria-current="page" routerLink="/pre-registration-component" routerLinkActive="active" style="color: white;">Pre-Registration</a>
          </li>
  
          <li class="nav-item p-1">
            <a class="nav-link active" aria-current="page" routerLink="/faq-component" routerLinkActive="active" style="color: white;">FAQ</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link active" aria-current="page" routerLink="/sponser-component" routerLinkActive="active" style="color: white;">Sponsor Page</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link active" aria-current="page" routerLink="/contact-component" routerLinkActive="active" style="color: white;">Contact</a>
          </li>
  
          
   
        </ul>
  
      </div>
    
 
  

  </div>
</nav>

<div class="container">
  <div class="row p-1">
  </div>
</div>
<!-- main content container -->
<div class="jumbotron" >
  <div  class="container px-5 ">
      <div class="px-4">
        <router-outlet></router-outlet>
      </div>
              

      
  </div>
</div>

<!-- footer -->
<div class="container">
  <footer class="py-3 my-4">
      <p class="text-center text-muted">&copy; 2022 AIHacks4Good</p>
  </footer>
</div>


