

<h1 class="text-center display-4" style="color: rgb(24, 54, 84);">AIHacks4Good</h1>

<p class="text-center " style="color: rgb(24, 54, 84);">Virtual Event, Oct 1-2, 2022</p>

<hr/>

    <div class="container rounded text-center" style="background-color: rgb(24, 54, 84); max-height: 200px; min-height: 150px;">
        <img src="/assets/AIHacks4Good_Logo.png" class="img-fluid" style="max-height: 200px; min-height: 150px;">
    </div>



<hr>



<p class="lead" style ="font-size: x-large;">Join us while we tackle some of the biggest challenges in Ethical AI such as:</p>


<hr/>

<h4>AI and data usage in healthcare</h4>

<p>AI models used in healthcare are built on previous data. But, when both medical knowledge and treatment are biased and used as data fed into AI models, we end up with AI that exacerbates current and past issues and prejudices within healthcare. How can we make sure AI models account for biased data?</p>

<hr/>

<h4>Automated Facial Recognition</h4>

<p>Data used to train automated facial recognition models are often not equally inclusive of all demographics. Thus, these models are more error-prone for some users (often those not as included in the engineering design/coding process) than others. How can we de-bias automated facial recognition models for greater accuracy for all users?</p>


<hr/>

<h4>AI and data usage in the justice system</h4>


<p>AI is used in the criminal justice system as a prevention and prediction tool. Who is likely to commit a crime? Who is likely to re-offend? But, the data used to train these AI models are inherently biased. There is no accurate data on who commits crimes - only who gets arrested. How can we make AI models fair for everyone?</p>
<hr>

<div class="row">
    <div class="col text-center">
      <a role ="button" class="btn btn-light border" aria-current="page" routerLink="/pre-registration-component" routerLinkActive="active" style="background-color: rgb(24, 54, 84); color: white;"><h1 class="text-center display-6" style="font-size: 0.5cm; margin-bottom: 0.1cm;">Register</h1></a>
    </div>
  </div>

