

<h1 class="text-center display-4">AIHacks4Good</h1>

<p class="text-center">Virtual Event, Oct 1-2, 2022</p>

<hr/>

<p class=" lead" style ="font-size: x-large;">Join us while we tackle some of the biggest challenges in Ethical AI such as:</p>


<hr/>

<h4>AI and data usage in healthcare</h4>

<ul>
    <li>Medical knowledge + treatment is biased</li>
    <li>Models based on biased human data</li>
    <li>How can AI models account for this?</li>
</ul>


<hr/>

<h4>Automated Facial Recognition</h4>

<ul>
    <li>Data is not inclusive of users</li>
    <li>Errors more likely for non-white + non-male users</li>
    <li>How can this be corrected? How can we debias automated facial recognition (interdisciplinary approach)</li>
</ul>


<hr/>

<h4>AI and data usage in the justice system</h4>


    <ul>
        <li>AI in the criminal justice system is used as a prevention and prediction tool</li>
        <li>video surveillance analysis to detect suspicious activities to algorithms</li>
        <li>Used to predict the likelihood of recidivism and recommend parole</li>
        <li>AI built on biases</li>
    </ul>





<ul class="list-group bg-light">
    <li class="list-group-item d-flex justify-content-between align-items-start bg-light">
      <div class="ms-2 me-auto bg-light">
        <h4> AI and data usage in healthcare</h4>
        <ul>
            <li>Medical knowledge + treatment is biased</li>
            <li>Models based on biased human data</li>
            <li>How can AI models account for this?</li>
        </ul>
      </div>
      
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start bg-light">
      <div class="ms-2 me-auto">
        <h4>Automated Facial Recognition</h4>
        <ul>
            <li>Data is not inclusive of users</li>
            <li>Errors more likely for non-white + non-male users</li>
            <li>How can this be corrected? How can we debias automated facial recognition (interdisciplinary approach)</li>
        </ul>
 
      </div>
      
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start bg-light">
      <div class="ms-2 me-auto">
        <h4>AI and data usage in the justice system</h4>
        <ul>
            <li>AI in the criminal justice system is used as a prevention and prediction tool</li>
            <li>video surveillance analysis to detect suspicious activities to algorithms</li>
            <li>Used to predict the likelihood of recidivism and recommend parole</li>
            <li>AI built on biases</li>
        </ul>

      </div>
      
    </li>
  </ul>
  <div class="row p-4"></div>